@model HomeVM
@{
       ViewData["Title"] = "Index";
}
<main>
          <!-- Slider Start -->
          <section class="slider">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="~/img/@Model.sliders.ImageUrlBackGround" class="d-block w-100 slider-img" alt="...">
                  </div>
                  <div class="col-6 slider-mobile">
                    <img src="~/img/@Model.sliders.ImageUrl" alt="">
                  </div>
                  <!-- <div class="col-6 slider-text">
                    <h1>Responsive Page Landing Page</h1>
                    <h4>Bootstrap Based Responsive Landing Page Template.</h4>
                    <div class="app-download">
                      <a class="navbar-brand" href="#"><i class="fa-solid fa-mobile-screen slider-icon"></i>
                        <span class="available">Available on the</span>
                        <span class="appstore">App Store</span>
                    </a>
                    </div> 
                  </div>-->
                </div>
              </div>
          </section>
        <!-- Slider End -->
        <!-- Card Start -->
        <section class="card">
         <div class="container">
          <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var item in Model.cards)
                    {
              <div class="col">
                <div class="card h-100 text-center card-area">
                  <i class="@item.IconPath"></i>
                  <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                  </div>
                </div>
              </div>
                    }
            </div>
          </div>
         </div>

        </section>
        <!-- Card End -->
        <!--Modern Start  -->
        <section class="modern">
          <div class="container">
            <div class="row">
              <div class="section-title text-center mt-5">
                <h3 class="modern-title">Modern & clean landing page theme</h3>
                <p class="modern-subtitle">Lorem ipsum dolizzle sit tellivizzle, boom shackalack adipiscing elit. Nullam mofo velizzle, sure cool.</p>
              </div>
            </div>
            <div class="modern-context d-flex">
              <div class="col-6 modern-img">
                <img src="~/img/tablet.png">
              </div>
              <div class="col-6 modern-context">
                        @foreach (var item in Model.moderns)
                            {
                                 <div class="card mb-3 modern-card" style="max-width: 540px;">
                    <div class="row g-0">
                                 <div class="col-2">
                        <i class="@item.IconPath"></i>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">@item.Title</h5>
                          <p class="card-text">@item.Description</p>
                        </div>
                      </div>
                      
                    </div>
                     
                  </div>
                            }
                            
            </div>
        </div>
    </div>
        </section>
        <!--Modern End  -->
        <!-- TextSlider Start -->
        <section class="TextSlider">
          <div class="container">
            <div class="row">
              <p class="textslider-text text-center" style="color:blue;">What people say</p>
              <div id="slider">
                <ul>
                  <li>
                  <div class="slider-container">
                    <p>“Went with my wife, absolutely brilliant restaurant, the food tasted beautiful, so much depth and very well presented. As good if not better than any in the city centre. Will definitely be returning.” <br> Nathaniel Harwood – Google</p>
                  </div>
                  </li>
                    <li>
                    <div class="slider-container">
                    <p>“Great friendly service, the staff don't make you feel rushed, but are also very attentive, and on hand all the time if needed, best Thai food I have had in years, flavours are out of this world, and extremely good prices for the quality you get is top notch!!!!!! Love it” <br>David Armstrong - Porter – Google</p>
                  </div>
                  </li>
                    <li>
                    <div class="slider-container">
                    <p>“Possibly one of the best in Manchester. A menu designed and prepared by a very skilled chef, ably assisted by his wife who provides a friendly welcome. Always consistent and of high quality.” <br>Paul Fletcher – Google</p>
                  </div>
                  </li>
                    <li>
                    <div class="slider-container">
                    <p>“Food was amazing and service could not have been better...we went for a quick lunch as our office is opposite the restaurant...very quick service...I am highly recommending this restaurant to all my family and friends...” <br>Nic Gent – Facebook Page</p>
                  </div>
                  </li>
                   <li>
                    <div class="slider-container">
                    <p>“Went for the first time last night for my Husbands Birthday, friendly staff, very tasty food, would highly recommend, we will be back.” <br>Joanne Simms – Facebook Page</p>
                  </div>
                  </li>
                   <li>
                    <div class="slider-container">
                    <p>“A lovely, well decorated restaurant, where great food is served by very friendly staff for a bargain price. The food is authentic and delicious. We'll definitely be returning.”<br>Joe H – Trip Advisor</p>
                  </div>
                  </li>
                </ul>
                </div>
                
            </div>
          </div>
        </section>
        <!-- TextSlider End -->
    </main>

